@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hyelp!</h1>
    <p>The only food review site where you can find the WORST of the worst!!!</p>
</div>
